* {
    list-style: none;
    text-decoration: none !important;
}

html,
body {
    background: #0D0C19 !important;
}

/* --------------------------Preloader------------------------ */
.typewriter h1 {
    letter-spacing: .15em;
    text-shadow: 2px 2px #bcb6b6;
    animation:
        typing 2s steps(40, end),
        blink-caret 2s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

.prelader {
    transition: 300ms ease-in;
    z-index: 9;
}

.pointer_event_none {
    pointer-events: none;
}

/* =============================common-classes====================== */
.cursor_pointer {
    cursor: pointer;
}

/* ------------------------line-height--------------- */
.lh_85 {
    line-height: 85%;
}

.lh_116 {
    line-height: 116%;
}

.lh_118 {
    line-height: 118%;
}

.lh_120 {
    line-height: 120%;
}

.lh_124 {
    line-height: 124%;
}

.lh_160 {
    line-height: 160% !important;
}

.lh_164 {
    line-height: 164%;
}

/* -----------------------opacity--------------------- */
.opacity_70 {
    opacity: 70%;
}

.opacity_80 {
    opacity: 80%;
}

/* ----------------------gap------------------- */

.gap_17 {
    gap: 17px;
}

.gap_34 {
    gap: 34px;
}

.common_btn {
    padding: 24.23px 33.18px 24.23px 33.18px !important;
    border-radius: 132px;
    border: 1px solid white;
    background: var(--color-blue);
    box-shadow: 0px 4px 53.2px 0px #553AF594;

}

.common_btn:hover {
    border: 1px solid var(--color-blue);
    background: white;
    color: var(--color-blue) !important;
}

.research_img,
.buying_card,
.common_btn,
input[type="submit"] {
    transition: all 300ms linear
}

/* =============================header====================== */
.nav_link::after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 0;
    height: 3px;
    left: 50%;
    bottom: -7px;
    transition: 0.3s linear;
}

.nav_link:hover::after {
    width: 100%;
    left: 0;
}

.bg_header {
    background-image: url("../images/webp/bgheader.webp");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.pb_nav {
    padding-bottom: 90.38px !important;
}

.mw_687 {
    max-width: 687px;
}

.ai_img {
    max-width: 651px;
}

.pt_12 {
    padding-top: 12.97px;
}

.countdown_box {
    margin-top: 35px !important;
    padding: 11px 9px 11px 9px !important;
    border-radius: 20px;
    background: #8989890D;
    border: 1px solid #FFFFFF17
}

.countdown {
    border-radius: 10px;
    min-height: 75px;
    background: #FFFFFF08;
    box-shadow: 0px 9.03px 33.86px 0px #00000069 !important;
    box-shadow: 0px 0px 13.54px 0px #FFFFFF08 inset !important;
}

.count_day,
.count_hour {
    width: 95px;
}

.count_mint {
    width: 91px;
}

.conut_sec {
    width: 92px;
}

.ai_card {
    background: #8989890D;
    border: 3px solid #553AF5;
    border-radius: 20px;
    max-width: 454px;
}

.ai_contentbox {
    background-color: var(--color-blue);
    padding: 15.14px 36.93px 15px 35.84px !important;
    border-radius: 16px;
}

.mt_10 {
    margin-top: 10.86px !important;
}

.ai_form {
    padding: 18px 21px 18px 21px !important;
}

.gap_counterbox {
    gap: 14px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    padding: 22.24px 0 22.24px 18px !important;
    border: 1px solid #ccc;
    outline: none;
    box-shadow: 0px 0px 13.54px 0px #FFFFFF08 inset;
    background: #FFFFFF;
    border-radius: 66px;
}

input[type="submit"] {
    padding: 24.24px !important;
    background-color: var(--color-blue);
    border-radius: 132px;
    box-shadow: 0px 4px 53.2px 0px #553AF594;
    border: 1px solid #FFFFFF
}

input[type="submit"]:hover {
    background-color: white;
    color: var(--color-blue) !important;
    border: 1px solid var(--color-blue);
}

.error {
    color: red;
    font-size: 12px;
}

.pb_header {
    padding-bottom: 69px !important;
}

.ai_slide {
    border: 1px solid #FFFFFF17;
    background: #8989890D;
    border-radius: 10px;
    padding: 21.17px 37px 21.17px 37px !important;
}

.slide_img {
    max-width: 101.61px;
    margin-bottom: 9.35px !important;
}

.common_slideellips {
    width: 79.3px;
    height: 79.3px;
    border-radius: 79.3px;
    bottom: 27%;
    left: 31px;
    filter: blur(65px);
    background: #553AF5;
}

.live_img {
    max-width: 89.63px;
    right: 14px;
    top: 12.87px;
}

.my_9 {
    margin-top: 9.35px !important;
    margin-bottom: 9.35px !important;
}

.slide {
    padding: 0 16.2px !important;
}

.p_aislider {
    padding-bottom: 269px !important;
}

.counter_ellips {
    width: 44.02px;
    height: 18.06px;
    background: #553AF5;
    filter: blur(15.8px);
    top: 71.2px;
}

.header_ellips {
    width: 311.89px;
    height: 311.89px;
    border-radius: 311.89px;
    filter: blur(100px);
    background: rgba(85, 58, 245, 0.6);
    left: -15%;
    top: 13%;
}

.gap_counter {
    gap: 12px !important;
}

/* -----------------------------------buying power-------------------------- */

.buying_img {
    top: 170% !important;
}

.mw_806 {
    max-width: 806px;
}

.buying_card {
    padding-top: 30px !important;
    min-height: 446px;
    max-width: 351px;
    box-shadow: 0px 31px 73.8px 0px #00000033;
    background: #FFFFFF08;
    border-radius: 11.9px;
    border: transparent !important;
}

.buying_card:hover {
    box-shadow: 1px 8px 20px #00000033;
    -webkit-transition: box-shadow .6s ease-in;
}

.px_return {
    padding-left: 20px;
    padding-right: 20px;
}

.buying_slider .slick-list {
    overflow: visible !important;
}

.buying_slider .slick-dots {
    padding-bottom: 50.34px !important;
}

.buying_slider .slick-track {
    padding-top: 50px !important;
    padding-bottom: 50.93px !important;
    z-index: 9 !important;
    overflow: visible !important;
    display: flex !important;
}

.py_buying {
    padding-top: 100.93px !important;
    padding-bottom: 74.7px !important;
}

.buying_slider .slick-slide {
    height: inherit !important;
    display: flex !important;
}

.buying_slider .slick-slide>div {
    display: flex;
}

.px_12 {
    padding-left: 12px;
    padding-right: 12px;
}

.bottom-0 {
    bottom: -26% !important;
}

.buying_ellips {
    width: 183.22px;
    height: 97.73px;
    background: #553AF5;
    filter: blur(80.7px);
    left: 124px;
    bottom: -30%;
}

.slick-dots li {
    margin: 0 !important;
}

/* --------------------------------------high returns-------------------------------- */
.p_benefits {
    padding-top: 123px;
}

.bg_benefit {
    top: -2.5%;
}

.pt_benefitcontent {
    padding-top: 123px;
}

.mw_471 {
    max-width: 471px;
}

.pt_reserch {
    padding-top: 59.22px;
}

.my_returnpara {
    margin-top: 26.28px;
    margin-bottom: 45.9px !important;
}

.bg_research {
    background: linear-gradient(to bottom, #FFFFFf 86%, #0D0C19 14%);
}

.research_img {
    height: 369.26px;
}

.benefit_ellips {
    width: 151.64px;
    height: 151.64px;
    border-radius: 50%;
    background: #553AF5;
    filter: blur(62.25px);
}

.benefit_headellips {
    width: 311px;
    height: 311px;
    border-radius: 311px;
    background: #553AF53B;
    filter: blur(90px);
    left: 36%;
    top: 11%;
}

.benefit_para {
    max-width: 606px;
}

.benefit_img {
    max-width: 471px;
}

@media (max-width:1200px) {

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        padding: 18.24px 0 18.24px 18px !important;
    }

    input[type="submit"] {
        padding: 20px !important;
    }

    .buying_card {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }

    .research_img {
        height: 369.26px;
        object-fit: cover;
    }

    .p_aislider {
        padding-bottom: 200px !important;
    }

    .benefit_para {
        max-width: 521px;
    }

    .buying_img {
        top: 160% !important;
    }

    .bg_benefit {
        top: 0;
    }
}

@media (max-width: 992px) {
    .mobile_screen {
        position: fixed;
        top: 0;
        min-height: 100vh;
        width: 100%;
        right: -100%;
        background-color: #0D0C19 !important;
        transition: 300ms linear;
    }

    .menu_btn {
        width: 26.9px;
        height: 17.39px;
        background-color: inherit;
    }

    .menu_btn span {
        width: 100%;
        height: 3px;
        background-color: white;
        transition: 300ms linear;
        border-radius: 24px;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .cross .line1 {
        transform: rotate(50deg) translate(12px, 11px);
    }

    .cross .line2 {
        transform: translateX(-50%);
        opacity: 0;
    }

    .cross .line3 {
        transform: rotate(-50deg) translateY(-50%);
    }

    .bg_header {
        background-size: cover !important;
    }

    .mw_687 {
        max-width: unset;
    }

    .ai_card {
        max-width: unset;
    }

    .countdown_box {
        margin-top: 20px !important;
        max-width: 505px !important;
    }

    .slide {
        padding: 0 10px !important;
    }

    .mw_806 {
        max-width: unset;
    }


    .buying_img {
        top: 226% !important;
    }

    .research_img {
        height: 316px;
    }

    .pt_benefitcontent {
        padding-top: 70px;
    }

    .py_buying {
        padding-top: 70px !important;
        padding-bottom: 70px !important;
    }

    .benefit_para {
        max-width: 100%;
    }

    .nav_link {
        font-size: 24px !important;
    }
}

@media (max-width:576px) {

    .count_day,
    .count_hour {
        width: 56px;
    }

    .count_mint {
        width: 52px;
    }

    .conut_sec {
        width: 55px;
    }

    .countdown {
        min-height: 44px;
    }

    .countdown_box {
        padding: 7px 10px 7px 10px !important;
        max-width: unset !important;
    }

    .py_aiImg {
        padding-top: 31px !important;
        padding-bottom: 12.54px !important;
    }

    .pb_nav {
        padding-bottom: 63.51px !important;
    }

    .ai_form {
        padding: 16px 21px 24.83px 21px !important;
        gap: 5px;
    }

    .ai_card {
        margin-bottom: 50px !important;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        padding: 16.5px 0 16.5px 18px !important;
    }

    input[type="submit"] {
        padding: 15.88px !important;
    }

    .pb_header {
        padding-bottom: 41.5px !important;
    }

    .live_img {
        right: 14px;
        top: 43.87px;
        max-width: 45px;
    }

    .ai_contentbox {
        padding: 16.58px 8px 16px 8px !important;
    }

    .buying_card {
        padding: 51.93px 29.22px 51.93px 29.22px !important;
        max-width: unset;
    }


    .buying_img {
        top: 187% !important;
    }

    .p_aislider {
        padding-bottom: 174.91px !important;
    }

    .buying_slider .slick-track {
        padding-top: 40px !important;
        padding-bottom: 90.53px !important;
    }

    .mb_benefitimg {
        margin-bottom: 30.6px !important;
    }

    .ai_slide {
        max-width: 272px;
    }

    .sign_btn {
        width: 100%;
    }

    .py_buying {
        padding-top: 60px !important;
        padding-bottom: 100px !important;
    }

    .pt_benefitcontent {
        padding-top: 60px;
    }

    .p_benefits {
        padding-top: 80px;
    }

    .bg_benefit {
        top: -5%;
    }

    .mw_220 {
        max-width: 220px;
    }

    .mw_283 {
        max-width: 283px;
    }

    .mw_333 {
        max-width: 333px;
    }

    .benefit_img {
        max-width: 331px;
    }

    .ai_img {
        max-width: 333px;
    }

    .fs_xl {
        font-size: 26px !important;
    }

    .fs_lg {
        font-size: 20px !important;
    }

    .fs_sm {
        font-size: 20px !important;
    }

    .head_buyingcard {
        font-size: 18px !important;
    }

    .mw_duecontent {
        max-width: 290px;
    }

    .gap_counter {
        gap: 6.21px !important;
    }

    .gap_counterbox {
        gap: 6.79px;
    }

    .mw_313 {
        max-width: 313px;
    }

    .benefit_ellips {
        top: 12px;
        z-index: 1;
    }

    .ellips_benefit {
        width: 228px;
        height: 228px;
        background: #553AF53B;
        filter: blur(90px);
        top: 26px;
    }
}


@media (min-width:1200px) {
    .custom_container {
        max-width: 1164px !important;
    }

    .p_aislider {
        padding-top: 102px !important;

    }
}