@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&display=swap');

.ff_opensans {
    font-family: "Open Sans", sans-serif;
}

.ff_inter {
    font-family: "Inter", sans-serif;
}

.ff_orbitron {
    font-family: "Orbitron", sans-serif;
}

:root {
    --font-xs: 14px;
    --font-xsm: 16px;
    --font-sm: 20px;
    --font-md: 27.93px;
    --font-lg: 32px;
    --font-xl: 48px;
    --font-xxl: 64px;
    --color-white: #ffffff;
    --color-light-white: #CFCED3;
    --color-dark-blue: #140865;
    --color-purple: #8B78F8;
    --color-blue: #553Af5;
    --color-light-blue: #5B5293;
    --color-extralight-blue: #c8c1f4;
    --color-grey: #4d4d4d;
    --color-light-grey: #B7B6Be;
    --color-black: #0D0C19;
}

/* background color  */
.bg-blue {
    background-color: var(--color-blue);
}

.bg_black {
    background-color: var(--color-black);
}

/* font size */
.text-xs {
    font-size: var(--font-xs);
}

.text-xsm {
    font-size: var(--font-xsm);
}

.text-sm {
    font-size: var(--font-sm);
}

.text-md {
    font-size: var(--font-md);
}

.text-lg {
    font-size: var(--font-lg);
}

.text-xl {
    font-size: var(--font-xl);
}

.text-xxl {
    font-size: var(--font-xxl);
}

/* / text colors */

.color-white {
    color: var(--color-white);
}

.color-light-white {
    color: var(--color-light-white);
}

.color-dark-blue {
    color: var(--color-dark-blue);
}

.color-blue {
    color: var(--color-blue);
}

.color-light-blue {
    color: var(--color-light-blue);
}

.color-extralight-blue {
    color: var(--color-extralight-blue);
}

.color-purple {
    color: var(--color-purple);
}

.color-grey {
    color: var(--color-grey);
}

.color-light-grey {
    color: var(--color-light-grey);
}

@media (max-width:1200px) {
    :root {
        --font-xl: 40px;
    }
}

@media (max-width:576px) {
    :root {
        --font-xs: 14px;
        --font-xsm: 16px;
        --font-sm: 20px;
        --font-md: 27.93px;
        --font-lg: 18px;
        --font-xl: 24px;
        --font-xxl: 64px;
    }
}