
/* ---------------how it work--------------- */
.max_w_989 {
    max-width: 989px;
}

.step_circle {
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.26);
    position: relative;
    z-index: 1;
    height: 88px;
    width: 88px;
    border-radius: 100px;
}

.doted_line {
    position: relative;
}

.doted_line::after {
    content: '';
    top: 12%;
    width: 70%;
    border: 1px dashed #5238EA;
    position: absolute;
}

.slick-dots {
    display: none !important;
}

.slick-dots li.slick-active button:before {
    color: #553AF5 !important;
    font-size: 14px !important;
    opacity: 1 !important;
    width: 14px !important;
    height: 14px !important;
    border: transparent !important;
}

.slick-dots li button:before {
    line-height: 14px !important;
    width: 12px !important;
    height: 12px !important;
    opacity: 1 !important;
    color: transparent !important;
    border-radius: 15px !important;
    border: 1px solid #553AF5 !important;
}

#work_slider .slick-slide {
    margin: 10px !important;
}

/* -----------advisors------------- */
.bg_half_circle {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/webp/bg-half-circle.webp");
}

.pt_211 {
    padding-top: 211px;
}

.max_w_758 {
    max-width: 758px;
}

.advisors_box {
    overflow: hidden;
    transition: all 300ms ease-in-out;
    border-radius: 11.9px;
    max-width: 352px;
    height: 436px;
    background-color: #0A0913;
    cursor: pointer;
}

.jeff_img {
    border-top-left-radius: 11.9px;
    border-top-right-radius: 11.9px;
    width: 352px;
    height: 306.88px;
}

.blur_circle {
    bottom: -24%;
    width: 324.06px;
    height: 90.08px;
    background: #553AF5;
    border-radius: 90px;
    filter: blur(85px);
}

.about_advisors {
    transition: all 300ms ease-in-out;
    position: absolute;
    top: -150%;
    padding: 19px 50px 19px 19px;
    border-radius: 11.9px;
    max-width: 352px;
    height: 436px;
    background-color: #553AF5;
    cursor: pointer;
}

.advisors_box:hover .about_advisors {
    top: 0;
}

.slick-prev:before {
    filter: grayscale(100%) !important;
    background-image: url("../images/svg/prev-arrow.svg") !important;
    font-size: 63px !important;
    opacity: 1 !important;
    color: transparent !important;
}

.slick-prev {
    transform: rotate(180deg) !important;
    left: -2% !important;
    top: 50% !important;
}

.slick-next {
    top: 40% !important;
}

.slick-next:before {
    filter: grayscale(100%) !important;
    transform: rotate(180deg) !important;
    background-image: url("../images/svg/prev-arrow.svg") !important;
    font-size: 63px !important;
    opacity: 1 !important;
    color: transparent !important;
}

.slick-next:hover:before {
    transition: all 300ms ease-in-out !important;
    filter: grayscale(0%) !important;
}

.slick-prev:hover:before {
    transition: all 300ms ease-in-out !important;
    filter: grayscale(0%) !important;
}
@media (max-width:1200px) {
    
    .logos_img {
        width: 319px !important;
        height: 85px !important;
    }
    .group_ellips {
        transform: translateX(0px) !important;
        height: 568.79px !important;
    }
    .statistics_bg {
        transform: translateY(40px);
    }
    .about_advisors {
        padding: 12px 19px 19px 19px;
    }

    .jeff_img {
        height: 231.88px;
    }

    .advisors_box {
        max-width: 333px;
        height: 383px;
    }
}

@media (max-width: 991.9px) {
    #advisors .slick-dots {
        display: block !important;
    }

    .step_slider_box {
        padding: 15px 10px !important;
    }

    .step_circle {
        font-size: 40px !important;
        height: 88px;
        width: 88px;
        background: white !important;
    }

    .mobile_screen {
        position: fixed;
        top: 0;
        min-height: 100vh;
        width: 100%;
        right: -100%;
        background-color: #86ccea;
        transition: 300ms linear;
    }

    .menu_btn {
        width: 25px;
        height: 20px;
        background-color: inherit;
    }

    .menu_btn span {
        width: 100%;
        height: 3px;
        background-color: white;
        transition: 300ms linear;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .cross .line1 {
        transform: rotate(50deg) translate(12px, 11px);
    }

    .cross .line2 {
        transform: translateX(-50%);
        opacity: 0;
    }

    .cross .line3 {
        transform: rotate(-50deg) translateY(-50%);
    }
}

@media (max-width:767.9px) {
   .scroll_bar_sm{
    height: 580px !important;
    overflow-y: scroll !important;
    overflow-x: hidden;
   }
    .group_ellips {
        height: 505.79px !important;
    }
    .statistics_bg {
        background-image: url("../images/webp/arrows-sm-vector-bg.webp");
    }
    .jeff_img {
        height: 231.88px;
    }

    .advisors_box {
        max-width: 333px;
        height: 363px;
    }

    .step_slider_box {
        padding: 30px 22px !important;
    }

    .slick-dots {
        display: block !important;
    }
}


@media (max-width:377px) {
    .top_etf_img{
        width: 335px !important;
        height: 241.41px !important;
    }
    .pt_211 {
        padding-top: 115px;
    }
    .fotter_bg{
        background-position:center !important;
        background-size: 160% 70% !important;
    }
    .advisors_sm_bg{
        background-image: url("../images/webp/advisor-sm-bg.webp");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .jeff_img {
        height: 291.88px;
    }

    .advisors_box {
        max-width: 333px;
        height: 413px;
    }
}

@media (min-width:1200px) {
    .custom_container {
        max-width: 1164px !important;
    }
}