@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&display=swap');

* {
    list-style: none;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    text-decoration: none !important;
}

.ff_opensans {
    font-family: "Open Sans", sans-serif;
}

.ff_inter {
    font-family: "Inter", sans-serif;
}

.ff_orbitron {
    font-family: "Orbitron", sans-serif;
}

:root {
    --font-xs: 14px;
    --font-xsm: 16px;
    --font-sm: 20px;
    --font-md: 27.93px;
    --font-lg: 32px;
    --font-xlg: 46.28px;
    --font-xl: 48px;
    --font-xxl: 64px;
    --color-white: #ffffff;
    --color-light-white: #CFCED3;
    --color-extralight-white: #ccc4fc;
    --color-dark-blue: #140865;
    --color-light-purple: #544C8D;
    --color-purple: #8B78F8;
    --color-blue: #553Af5;
    --color-light-blue: #5B5293;
    --color-extralight-blue: #c8c1f4;
    --color-grey: #4d4d4d;
    --color-light-grey: #B7B6Be;
    --color-extralight-grey: #B5B5B9;
    --color-dark-grey: #54545B;
    --color-extradark-grey: #B6B5BA;
    --color-light-black: #3d3d47;
}

/* background color */
.bg-blue {
    background-color: var(--color-blue);
}

/* font size */
.text-xs {
    font-size: var(--font-xs);
}

.text-xsm {
    font-size: var(--font-xsm);
}

.text-sm {
    font-size: var(--font-sm);
}

.text-md {
    font-size: var(--font-md);
}

.text-lg {
    font-size: var(--font-lg);
}
.text-xlg {
    font-size: var(--font-xlg);
}
.text-xl {
    font-size: var(--font-xl);
}

.text-xxl {
    font-size: var(--font-xxl);
}

/* text colors */

.color-white {
    color: var(--color-white);
}

.color-light-white {
    color: var(--color-light-white);
}

.color-extralight-white {
    color: var(--color-extralight-white);
}

.color-dark-blue {
    color: var(--color-dark-blue);
}
.color-black{
    color: black;
}
.color-blue {
    color: var(--color-blue);
}

.color-light-blue {
    color: var(--color-light-blue);
}
.color-light-black {
    color: var(--color-light-black);
}

.color-extralight-blue {
    color: var(--color-extralight-blue);
}
.color-extralight-grey {
    color: var(--color-extralight-grey);
}

.color-purple {
    color: var(--color-purple);
}
.color-light-purple {
    color: var(--color-light-purple);
}

.color-extralight-blue {
    color: var(--color-extralight-blue);
}

.color-purple {
    color: var(--color-purple);
}

.color-grey {
    color: var(--color-grey);
}

.color-light-grey {
    color: var(--color-light-grey);
}
.color-dark-grey {
    color: var(--color-dark-grey);
}
.color-extradark-grey {
    color: var(--color-extradark-grey);
}
.cursour_pointer{
    cursor: pointer !important;
}
@media (max-width:992px) {
    :root {
        --font-xl: 35px;
       }
}
@media (max-width:576px) {
    :root {
        --font-xs: 14px;
        --font-xsm: 16px;
        --font-sm: 16px;
        --font-md: 27.93px;
        --font-lg: 18px;
        --font-xl: 24px;
        --font-xxl: 64px;
    }
}

html,
body {
    background-color: #0D0C19 !important;
}

.bg_color {
    background-color: #0D0C19 !important;
}

/* =============================common-classes====================== */
/* ------------------------line-height--------------- */
.lh_116 {
    line-height: 116%;
}

.lh_124 {
    line-height: 124%;
}

.lh_85 {
    line-height: 85%;
}

.lh_160 {
    line-height: 160%;
}


/* ----------------------gap------------------- */
.gap_34 {
    gap: 34px;
}

.common_btn {
    padding: 24.23px 34px 24.23px 34px !important;
    border-radius: 132px;
    border: 1px solid white;
    background: #553AF5;
    box-shadow: 0px 4px 53.2px 0px #553AF594;
}

.common_button {
    transition: all 200ms ease-in-out;
    padding: 22px 33.5px 22px 33.5px !important;
    border-radius: 132px;
    border: 1px solid white;
    background: #553AF5;
    box-shadow: 0px 4px 53.2px 0px #553AF594;
}

.common_button:hover {
    color: #0D0C19;
    background-color: white !important;
    border: 1px solid #4F37DD;
}

/* ---------------how it work--------------- */
.max_w_989 {
    max-width: 989px;
}

.step_circle {
    position: relative;
    z-index: 1;
    height: 88px;
    width: 88px;
    border-radius: 100px;
}

.doted_line {
    position: relative;
}

.doted_line::after {
    content: '';
    top: 12%;
    width: 70%;
    border: 1px dashed #5238EA;
    position: absolute;
}

.step_slider_box {
    height: 347px;
    width: 267px;
    background: #4F37DD;
    border-radius: 11.9px;
    padding: 30px 22px !important;
}

.slick-dots {
    display: none !important;
}

.slick-dots li.slick-active button:before {
    color: #553AF5 !important;
    font-size: 14px !important;
    opacity: 1 !important;
    width: 14px !important;
    height: 14px !important;
    border: transparent !important;
}

.slick-dots li button:before {
    line-height: 14px !important;
    width: 12px !important;
    height: 12px !important;
    opacity: 1 !important;
    color: transparent !important;
    border-radius: 15px !important;
    border: 1px solid #553AF5 !important;
}
#work_slider .slcik-slide{
    margin: 10px !important;
}
/* ---------statistics--------- */
.bg_grey{
    background-color: #EAEAEA;
}
.statistics_bg{
    height: 350px;
    background-image: url("../images/webp/arrows-vector-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.statics_heading{
    transform: translateY(60px) !important;
}
.statics_slider{
    transform: translateY(-170px) !important;
}
.register_text{
    transform: translateY(-60px) !important;
}
.max_w_278{
    max-width: 268px;
}
.blur_cirle {
    background: #553AF5;
    height: 126px;
    width: 133px;
    filter: blur(57px);
}
.statics_ellips{
    z-index: 1;
    position: absolute;
    bottom: 16%;
    right: -3%;
}
.register_form{
    background: #553AF5 !important;
    border-radius: 20px;
}
.register_form_padding{
    padding: 30px 21px  !important;
}
.group_ellips{
    transform: translateX(10px);
    width: 682.88px;
    height: 659.79px;
}
.form_heading_font{
    font-size: 24px !important;
}
.john_doe_card{
    border-radius: 20px;
    padding: 24px 20px 25px 20px !important;
}
.john_doe_img{
    height: 60px;
    width: 60px;
}
/* ------  fotter -------- */
.fotter_bg{
    background-image: url("../images/webp/footer-bg.webp");
    height: 520px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.max_w_373{
    max-width: 373px;
}
.gap_14{
    gap: 14px;
}
.footer_icons:hover{
    transition: all 300ms ease-in-out;
    transform: translateY(-8px);
}
.py_40{
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
.logos_img{
    width: 341px !important;
    height: 108px !important;
}
/* -------------top 5 ------- */
.number_rectangle_box{
    width: 86.91px;
    height: 79.28px;
    border-radius: 10px;
}
.max_w_560{
    max-width: 560px;
}
.top_etf_img{
    border-radius: 10px;
    max-width: 100% !important;
    width: 451px !important;
    height: 325px !important;
    box-shadow: 0px 9.03px 33.86px 0px #FFFFFF69;
}
.bg_dark_blue{
    background: #0B0A17;
}
.top_ets_section{
    padding-bottom: 340px !important;
}
.top_ets_section_translate{
    transform: translateY(340px);
}
::-webkit-scrollbar {
    border-radius: 3px !important;
    width: 10px !important;
    border: 1px solid #553AF5 !important;
    background-color: transparent !important;
  }
  ::-webkit-scrollbar-thumb {
    height: 59px !important;
    border-radius: 3px !important;
    background-color: #553AF5 !important;
  }
  .fotter_bg{
    height: 780px;
}
.fttr_slider{
    display: flex;
    justify-content: center;
}
@media (max-width:1620px) {
    .fotter_bg{
      height: 470px;
    }
}  
@media (max-width:1200px) {
    .logos_img {
        width: 319px !important;
        height: 85px !important;
    }
}
@media (max-width: 991.9px) {
     .logos_img{
        width: 241px !important;
        height: 60px !important;
    }
    .statistics_bg {
        transform: translateY(82px);
    }
    .statics_slider .slick-dot{
        display: block !important;
    }
    .step_slider_box {
        padding:15px 8px !important;

    }
    .step_circle {
        font-size: 40px !important;
        height: 88px;
        width: 88px;
        background: white !important;
    }

}

@media (max-width:767.9px) {

    .top_etf_img{
        margin-top: 30px !important;
    }
    .blur_cirle {
        height: 85px;
        width: 63px;
    }
    .statics_ellips {
        bottom: 4%;
    }
    .statistics_bg{
        height: 272px;
    }
    #statics_slider .slick-dots{
        bottom: -32% !important;
    }
    .statics_slider{
        transform: translateY(-155px) !important;
    }
    .step_slider_box {
        padding: 30px 22px !important;
    }
    .statistics_bg {
        transform: translateY(78px);
        background-size: 100% 57%;
        background-image: url("../images/webp/arrows-sm-vector-bg.webp") !important;
    }

    .slick-dots {
        display: block !important;
    }
}
@media (max-width:576px) {
    .step_slider_box {
        box-shadow: 9px 0px 10px 7px #24232369;
    }
    .bg_dark_blue{
        background: #0e091d;
    }
    ::-webkit-scrollbar {
        width: 4px !important;
      }
     .font_sm_14{
        font-size: 14px !important;
     }
    .number_rectangle_box{
        width: 40px;
        height: 40px;
        border-radius: 6px;
    }
    .register_form_padding {
        padding: 16px 15px 30px 15px !important;
    }
    .py_40{
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
    .logos_img{
        width: 157.42px !important;
        height: 49.86px !important;
    }
 
}

@media (max-width:377px) {
    .mw_333 {
        max-width: 333px !important;
    }
    .top_5ets_sm_bg {
        background-size: 125% 136% !important;
        background-image: url("../images/webp/top-5ets-sm-bg.webp") !important;
    }
    .top_etf_img{
        width: 335px !important;
        height: 241.41px !important;
    }
    .top_ets_section{
        padding-bottom: 180px !important;
    }
    .top_ets_section_translate{
        transform: translateY(180px) !important;
    }
}

/* ----------------------dev css---------------------- */

/* =============================header====================== */
.nav_link::after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 0;
    height: 3px;
    left: 50%;
    bottom: -7px;
    transition: 0.3s linear;
}

.nav_link:hover::after {
    width: 100%;
    left: 0;
}

.bg_header {
    background-image: url("../images/webp/bgheader.webp");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.pb_nav {
    padding-bottom: 90.38px !important;
}

.mw_687 {
    max-width: 687px;
}

.ai_img {
    max-width: 651px;
}

.countdown_box {
    margin-top: 35px !important;
    padding: 11px 9px 11px 9px !important;
    border-radius: 20px;
    background: #8989890D;
    border: 1px solid #FFFFFF17
}

.countdown {
    border-radius: 10px;
    min-height: 75px;
    background: #FFFFFF08;
    box-shadow: 0px 9.03px 33.86px 0px #00000069 !important;
    box-shadow: 0px 0px 13.54px 0px #FFFFFF08 inset !important;
}

.count_day,
.count_hour {
    width: 95px;
}

.count_mint {
    width: 91px;
}

.conut_sec {
    width: 92px;
}

.ai_card {
    background: #8989890D;
    border: 3px solid #553AF5;
    border-radius: 20px;
    max-width: 454px;
}

.ai_contentbox {
    background-color: var(--color-blue);
    padding: 15.14px 36.93px 15px 35.84px !important;
    border-radius: 16px;
}

.mt_10 {
    margin-top: 10.86px !important;
}

.ai_form {
    padding: 18px 21px 18px 21px !important;
}

.gap_counterbox {
    gap: 14px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    padding: 22.24px 0 22.24px 18px !important;
    border: 1px solid #ccc;
    outline: none;
    box-shadow: 0px 0px 13.54px 0px #FFFFFF08 inset;
    background: #FFFFFF;
    border-radius: 66px;
}

input[type="submit"] {
    padding: 24.24px !important;
    background-color: var(--color-blue);
    border-radius: 132px;
    box-shadow: 0px 4px 53.2px 0px #553AF594;
    border: 1px solid #FFFFFF
}

input[type="submit"]:hover {
    background-color: white;
    color: var(--color-blue) !important;
    border: 1px solid var(--color-blue);
}

.error {
    color: red;
    font-size: 12px;
}

.pb_header {
    padding-bottom: 69px !important;
}

.ai_slide {
    border: 1px solid #FFFFFF17;
    background: #8989890D;
    border-radius: 10px;
    padding: 21.17px 37px 21.17px 37px !important;
}

.slide_img {
    max-width: 101.61px;
    margin-bottom: 9.35px !important;
}

.common_slideellips {
    width: 79.3px;
    height: 79.3px;
    border-radius: 79.3px;
    bottom: 27%;
    left: 31px;
    filter: blur(65px);
    background: #553AF5;
}

.live_img {
    max-width: 89.63px;
    right: 14px;
    top: 12.87px;
}

.my_9 {
    margin-top: 9.35px !important;
    margin-bottom: 9.35px !important;
}

.slide {
    padding: 0 16.2px !important;
}

.p_aislider {
    padding-bottom: 269px !important;
}

.counter_ellips {
    width: 44.02px;
    height: 18.06px;
    background: #553AF5;
    filter: blur(15.8px);
    top: 71.2px;
}

.header_ellips {
    width: 311.89px;
    height: 311.89px;
    border-radius: 311.89px;
    filter: blur(100px);
    background: rgba(85, 58, 245, 0.6);
    left: -15%;
    top: 13%;
}

.gap_counter {
    gap: 12px !important;
}

/* -----------------------------------leveraged-------------------------- */

.buying_img {
    top: -30%;
}

.mw_806 {
    max-width: 806px;
}

.buying_card {
    padding-top: 30px !important;
    min-height: 446px;
    max-width: 351px;
    box-shadow: 0px 31px 73.8px 0px #00000033;
    background: #FFFFFF08;
    border-radius: 11.9px;
    border: transparent !important;
}

.buying_card:hover {
    box-shadow: 1px 8px 20px #00000033;
    -webkit-transition: box-shadow .6s ease-in;
}

.px_return {
    padding-left: 20px;
    padding-right: 20px;
}

.buying_slider .slick-list {
    overflow: visible !important;
}

.buying_slider .slick-dots {
    padding-bottom: 50.34px !important;
}

.buying_slider .slick-track {
    padding-top: 50px !important;
    padding-bottom: 50.93px !important;
    z-index: 9 !important;
    overflow: visible !important;
    display: flex !important;
}

.py_buying {
    padding-top: 100.93px !important;
    padding-bottom: 74.7px !important;
}

.buying_slider .slick-slide {
    height: inherit !important;
    display: flex !important;
}

.buying_slider .slick-slide>div {
    display: flex;
}

.px_12 {
    padding-left: 12px;
    padding-right: 12px;
}

.bottom-0 {
    bottom: -26% !important;
}

.buying_ellips {
    width: 183.22px;
    height: 97.73px;
    background: #553AF5;
    filter: blur(80.7px);
    left: 124px;
    bottom: -30%;
}

/* ---------------------------------------benefit-------------------------------- */
.p_benefits {
    padding-top: 123px;
}

.bg_benefit {
    top: -0.5%;
}

.pt_benefitcontent {
    padding-top: 123px;
}

.mw_471 {
    max-width: 471px;
}

.pt_reserch {
    padding-top: 59.22px;
}

.my_returnpara {
    margin-top: 26.28px;
    margin-bottom: 45.9px !important;
}

.bg_research {
    background: linear-gradient(to bottom, #FFFFFf 86%, #0D0C19 14%);
}

.research_img {
    height: 369.26px;
}

.benefit_ellips {
    width: 151.64px;
    height: 151.64px;
    border-radius: 50%;
    background: #553AF5;
    filter: blur(62.25px);
}

.benefit_para {
    max-width: 606px;
}

.benefit_img {
    max-width: 471px;
}
/* ---------------------------------back-to-top------------------------------------ */
.back-to-top{
    display: none;
    position: fixed;
    bottom: 70px;
    right: 30px;
    z-index: 6 !important;
    width: 50px !important;
    height: 50px !important;
    background-color: #553AF5;
    border: 1px solid white;
    border-radius: 50px;
    box-shadow: 0px 5px 16px #ffffff;
    -webkit-animation: mover 3000ms infinite ease-in-out !important;
    animation: mover 3000ms infinite ease-in-out !important;
}

@keyframes mover {

    0%,
    100% {
        transform: translateY(0px);
    }

    70% {
        transform: translateY(-7px);
    }

}
@media (max-width:1200px) {
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        padding: 18.24px 0 18.24px 18px !important;
    }

    input[type="submit"] {
        padding: 20px !important;
    }

    .buying_card {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }

    .research_img {
        height: 369.26px;
        object-fit: cover;
    }

    .p_aislider {
        padding-bottom: 200px !important;
    }

    .benefit_para {
        max-width: 521px;
    }

    .buying_img {
        top: -21%;
    }

    .bg_benefit {
        top: 0;
    }
}

@media (max-width: 992px) {
    .mobile_screen {
        position: fixed;
        top: 0;
        min-height: 100vh;
        width: 100%;
        right: -100%;
        background-color: #0D0C19 !important;
        transition: 300ms linear;
    }

    .menu_btn {
        width: 26.9px;
        height: 17.39px;
        background-color: inherit;
    }

    .menu_btn span {
        width: 100%;
        height: 3px;
        background-color: white;
        transition: 300ms linear;
        border-radius: 24px;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .cross .line1 {
        transform: rotate(52deg) translate(10px, 8px);
    }

    .cross .line2 {
        transform: translateX(-35%);
        opacity: 0;
    }

    .cross .line3 {
        transform: rotate(-50deg) translateY(-50%);
    }

    .bg_header {
        background-size: cover !important;
    }

    .mw_687 {
        max-width: unset;
    }

    .ai_card {
        max-width: unset;
    }

    .countdown_box {
        margin-top: 20px !important;
        max-width: 505px !important;
    }

    .slide {
        padding: 0 10px !important;
    }

    .mw_806 {
        max-width: unset;
    }

    .buying_img {
        top: -20%;
    }

    .research_img {
        height: 316px;
        object-position: right;
    }

    .pt_benefitcontent {
        padding-top: 70px;
    }

    .py_buying {
        padding-top: 70px !important;
        padding-bottom: 70px !important;
    }

    .benefit_para {
        max-width: 100%;
    }
}

@media (max-width:576px) {

    .count_day,
    .count_hour {
        width: 56px;
    }

    .count_mint {
        width: 52px;
    }

    .conut_sec {
        width: 55px;
    }

    .countdown {
        min-height: 44px;
    }

    .countdown_box {
        padding: 7px 10px 7px 10px !important;
        max-width: unset !important;
    }

    .py_aiImg {
        padding-top: 31px !important;
        padding-bottom: 12px !important;
    }

    .pb_nav {
        padding-bottom: 63.51px !important;
    }

    .ai_form {
        padding: 16px 21px 24.83px 21px !important;
        gap: 5px;
    }

    .ai_card {
        margin-bottom: 50px !important;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        padding: 16.5px 0 16.5px 18px !important;
    }

    input[type="submit"] {
        padding: 15.88px !important;
    }

    .pb_header {
        padding-bottom: 41.5px !important;
    }

    .live_img {
        right: 14px;
        top: 43.87px;
        max-width: 45px;
    }

    .ai_contentbox {
        padding: 16.58px 8px 16px 8px !important;
    }

    .buying_card {
        padding: 51.93px 29.22px 51.93px 29.22px !important;
        max-width: unset;
    }

    .buying_img {
        top: -24%;
    }

    .p_aislider {
        padding-bottom: 174.91px !important;
    }

    .buying_slider .slick-track {
        padding-top: 40px !important;
        padding-bottom: 90.53px !important;
    }

    .mb_benefitimg {
        margin-bottom: 30.6px !important;
    }

    .ai_slide {
        max-width: 272px;
    }

    .sign_btn {
        width: 100%;
    }

    .py_buying {
        padding-top: 60px !important;
        padding-bottom: 100px !important;
    }

    .pt_benefitcontent {
        padding-top: 60px;
    }

    .p_benefits {
        padding-top: 80px;
    }

    .bg_benefit {
        top: -5%;
    }

    .mw_220 {
        max-width: 220px;
    }

    .mw_283 {
        max-width: 283px;
    }

    .mw_333 {
        max-width: 533px;
    }

    .benefit_img {
        max-width: 331px;
    }

    .ai_img {
        max-width: 333px;
    }

    .fs_xl {
        font-size: 26px !important;
    }

    .fs_lg {
        font-size: 20px !important;
    }

    .fs_sm {
        font-size: 20px !important;
    }

    .head_buyingcard {
        font-size: 18px !important;
    }

    .mw_duecontent {
        max-width: 290px;
    }

    .gap_counter {
        gap: 6.21px !important;
    }

    .gap_counterbox {
        gap: 6.79px;
    }

    .mw_313 {
        max-width: 313px;
    }

    .benefit_ellips {
        top: 12px;
        z-index: 1;
    }

    .ellips_benefit {
        width: 228px;
        height: 228px;
        background: #553AF53B;
        filter: blur(90px);
        top: 26px;
    }
}


@media (min-width:1200px) {
    .custom_container {
        max-width: 1164px !important;
    }

    .p_aislider {
        padding-top: 102px !important;

    }
}